.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







  body{
    background: red;
  }
  @font-face {
      font-family: 'fs_emericbook';
      src: url('fonts/fs_emeric-book-webfont.woff2') format('woff2'),
           url('fonts/fs_emeric-book-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }


  @font-face {
      font-family: 'fs_emericcore';
      src: url('fonts/fs_emeric-core-webfont.woff2') format('woff2'),
           url('fonts/fs_emeric-core-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'fs_emericlight';
      src: url('fonts/fs_emeric-light-webfont.woff2') format('woff2'),
           url('fonts/fs_emeric-light-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'fs_emericsemibold';
      src: url('fonts/fs_emeric-semibold-webfont.woff2') format('woff2'),
           url('fonts/fs_emeric-semibold-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }


  body {
    font-family: 'fs_emericcore';
    color: grey;
  }

  * {
    margin: 0;
    box-sizing: border-box;
  }

  .logo{
    position: fixed;
    z-index: 2;
    top: 1rem;
    left: 1rem;
  }

  .btns {
    position: fixed;
    z-index: 2;
    top: 1rem;
    right: 1rem;
  }

  .section {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
  }

  .section:nth-child(even) {
    background: #ccc;
  }

  .section:nth-child(odd) {
      background: #eee;
    }


  .text-obj {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }


  .svg-obj{
    width: 500px;
    height: 500px;
  }

  
  .joint{
    opacity: 0;
    transition: all 200ms ease-in;
    top: 0;
    right: 109px;
  }

  .js-joint-animate {
    opacity: 1;
    animation: falling 1250ms linear;
  }


  .women {
    opacity: 0;
    transition: all 200ms ease-in;
    top: 32px;
    right: 109px;
  }

  .js-women-animate {
    opacity: 1;
    animation: falling 1250ms linear;
  }



  .dipper {
    opacity: 0;
    transition: all 200ms ease-in;
    top: 32px;
    left: 109px;
  }

  .js-dipper-animate {
    opacity: 1;
    /*animation: dipper-jiggle 250ms linear;*/
    animation: falling 1250ms linear;
    /*
    animation-name: falling, dipper-jiggle;
    animation-duration: 2000ms, 1000ms;
    animation-delay: 0ms, 20ms;
    animation-timing-function: ease-in, ease-out;
    animation-iteration-count: 1, 1;
    */
  }

  @keyframes falling {
    0% {
      transform: translate3d(-400px, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
    }
    33% {
      transform: rotate(15deg);
    }
    66% {
      transform: rotate(-15deg);
    }
    100% {
      transform: translate3d(0, 0, 0) rotateX(5deg) rotateY(0deg) rotateZ(10deg);
    }
  }

  @keyframes dipper-jiggle {
    0% {
      transform: rotate(0);
    }
    33% {
      transform: rotate(15deg);
    }
    66% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(0);
    }
  }




    p{
      margin: 10px 0;
    }

    h2{
      font-size: 70px;
      font-family: 'fs_emericlight';
      color: orange;
      line-height: 70px;
    }


.img-obj {
  img {
    height: 100vh;
    width: auto;
  }
}

  .left-position{
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 0;
  }

  .right-position{
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 0;
  }



.text-obj {
  z-index: 1;
  padding: 75px;
  width: 45%;

  &.center{
    left: 25%;
  }
  
  &.left{
    left: 0;
    text-align: left;
  }

  &.right{
    right:0;
    text-align: right;
  }
}

